.detail{
    padding-left: 5%;
    padding-right:5%;
   padding-top: 39px;

}
.addProd{
    background-image: linear-gradient(to left, #8e2de2, #4a00e0);
    color:  white;
border-radius: 0px;
font-family: 'Montserrat', sans-serif;
font-size: 12px;
}
.imgDetail{
    padding-top: 5rem!important;
}