.detail{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 100px;

}
.addProd{
    background-image: linear-gradient(to left, #8e2de2, #4a00e0);
    color:  white;
border-radius: 0px;
font-family: 'Montserrat', sans-serif;
font-size: 12px;
}