.saleCard img{width: 100%;}
.saleCard .btn{
    border: solid 2px rgb(222, 8, 26);
    color:black;
    font-size: 22px;
    font-family: 'Asap Condensed', sans-serif;
    border-radius: 60px;

}
.saleCard .btn:hover{
    background-color: rgb(222, 8, 26);
    border: solid 2px rgb(222, 8, 26);
border-radius: 60px;
color: white;
}

.title{
    font-family: 'Asap Condensed', sans-serif;

}
.marca{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}