.addProd{
    background-image: linear-gradient(to left, #8e2de2, #4a00e0);
    color:  white;
border-radius: 0px;
font-family: 'Montserrat', sans-serif;
font-size: 12px;
}
.card a :hover{
    color: #00F3BB;
}
#cont{
    background-color: #952020;
}
h2{
    font-family: 'Asap Condensed', sans-serif;
}

.list{
    margin-top: 30px!important;
}